<div><h3>Public {{pageTitle}}</h3></div>
        <section class="col-md-8 col-md-offset-2">
            <form (ngSubmit)="savePatientDetails()" #patientForm="ngForm">
             
                <div>
                    <label for="patientId">Patient Id </label>
                    <!-- [(ngModel)] let's you do two-way data binding -->
                    <input [(ngModel)]="patient.patientId" ngControl="patientId">
                </div>  
   
                <div>
                    <label for="patientName">Patient Name </label>
                    <input [(ngModel)]="patient.patientName" ngControl="patientName">
                </div>  
                <div>
                    <label for="admissionDate">Admission Date </label>
                    <input [(ngModel)]="patient.admissionDate" ngControl="admissionDate">
                </div>
                <div>
                    <label for="imageUrl">Patient ImageUrl</label>
                    <input [(ngModel)]="patient.imageUrl" ngControl="imageUrl">
                </div>        

            <button type="submit" class="btn btn-primary">{{ !patient ? 'Save Patient Details' : 'Edit Patient Details' }}</button>
            <button type="button" class="btn btn-danger" (click)="onCancel()" *ngIf="patient">Cancel</button>
            </form>
        </section>
