




<section class="med2patient-details">
  <!-- new syntax for ng-if -->
  <section *ngIf="med2patient">
    <section class="med2patient-details__header">
       <div class="container">
        <div class="row">
            <div class="col-sm-12" style="background-color:blue;">
               <h6>You selected: {{med2patient.name}}</h6>
               <h4> Name : {{med2patient.name}}  Weight : {{med2patient.weight}}  Height : {{med2patient.height}}
              </h4>
            </div>
        </div>
        </div>
       </section>


    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="background-color:yellow;">
                <p>Medicine List will go here</p>
            </div>
            <div class="col-sm-6" style="background-color:pink;">
                <ul class="med2patients_medicines">
                    <li *ngFor="#med2patientmedicine of med2patient.medicines" >
                        <h6>{{med2patientmedicine.name}}{{med2patientmedicine.qty}}</h6>
                    </li>
                </ul>
            </div>
        </div>
    </div>

  </section>
  <section *ngIf="!med2patient">
    Loading...
  </section>
</section>
