<div class="panel panel-primary">
  <div class="panel-heading" style='font-size:large' *ngIf="med2patient">
    <div class="row">
      <div class='col-md-6'>
      <h4>You selected:</h4>
      <h4> Name : {{med2patient.name}}  Weight : {{med2patient.weight}}  Height : {{med2patient.height}}</h4>
      </div>
      <div class='col-md-1 col-md-offset-4'>
       <a class='btn btn-default' (click)='gotoPeoplesList()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
       </a>
     </div>
  </div>  
  </div>
  <div class='panel-body'>
    <div class='row'>
        <div class='col-md-6'>            
            <div class="row">
              <div style="background-color:#337ab7;padding:0px 2px 6px 7px;color:white;border-radius:5px">
               <h4 align="center">Pick Medicines</h4>
              <div >Filter by:
              <span  style="color:black">
                  <input type='text' [(ngModel)]='listFilter'/>
               </span>
               </div>
               </div>
            <div class="table-responsive">
			         <table class="table">
                  <thead>
                    <tr>
                      <td>Medicine Name</td>
                      <th></th>                      
                    </tr>
                  </thead>
                  <tbody id="list1">
                    <tr *ngFor="#medicine of medicines | med2patientmedicineFilter:listFilter">
                         <td>{{medicine.name}}</td>
                         <td><a (click)="addNewMedPatientList($event, medicine)">Add</a></td>
                    </tr>
                  </tbody>
               </table>
            </div>
            </div>
        </div>
        <div class='col-md-6' *ngIf="med2patient">      
          <div class="row">
            <br><br><br><br>
          </div>
          
          <div class="table-responsive" >
			         <table class="table">
                  <thead>
                    <tr>
                      <th>Patients New Medicine</th>
                      <th></th>    
                      <th></th>                  
                    </tr>
                  </thead>
                  <tbody id="list1">
                    <tr *ngFor="#med2patientmedicine of med2patient.newmedicines">
                         <td>{{med2patientmedicine.name}}{{med2patientmedicine.qty}}</td>
                         <td><a (click)="onEdit($event, newmed2patientmedicine)">Edit</a></td>
                         <td><a (click)="onDelete($event, newmed2patientmedicinet)">Delete</a></td>
                    </tr>
                  </tbody>
               </table>
            </div>
          
               
          <div class="table-responsive">
			         <table class="table">
                  <thead>
                    <tr>
                      <th>Patients Medicine</th>
                      <th></th>    
                      <th></th>                  
                    </tr>
                  </thead>
                  <tbody id="list1">
                    <tr *ngFor="#med2patientmedicine of med2patient.medicines">
                         <td>{{med2patientmedicine.name}}{{med2patientmedicine.qty}}</td>
                         <td><a (click)="onEdit($event, med2patientmedicine)">Edit</a></td>
                         <td><a (click)="onDelete($event, med2patientmedicinet)">Delete</a></td>
                    </tr>
                  </tbody>
               </table>
            </div>
            
        </div>
        
    </div>
  </div>  
  
   <div class='panel-footer'>
        
        <a class='btn btn-default' (click)='gotoPeoplesList()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
    </div>
  
</div>