<div class="panel panel-primary">
  <div class="panel-heading" style='font-size:large'>
      Enter Patient Details
  </div>
  
  <div class='panel-body'>
       <form (ngSubmit)="saveNewActualpatientsDetails()">
        <div class='row'>
            <div class='col-md-6'>
                <div class='row'>
                    <div class='col-md-3'>Regitration Number:</div>
                    <div class='col-md-6'><input [(ngModel)]="actualpatient.regitrationNumber"></div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Name:</div>
                    <div class='col-md-6'><input [(ngModel)]="actualpatient.name"></div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Gender:</div>
                    <div class='col-md-6'><input [(ngModel)]="actualpatient.gender"></div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>DOB:</div>
                    <div class='col-md-6'><input [(ngModel)]="actualpatient.DOB"></div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>dateOfAdmission:</div>
                    <div class='col-md-6'><input [(ngModel)]="actualpatient.dateOfAdmission"></div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>photoUrl:</div>
                    <div class='col-md-6'><input [(ngModel)]="actualpatient.photoUrl"></div>
                </div>
                <h4>PCPContact:</h4> 
                <div class='row'>
                    <div class='col-md-3'>Name:</div>
                    <div class='col-md-6'><input [(ngModel)]="actualpatient.PCPContact.name"></div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Contact No:</div>
                    <div class='col-md-6'><input [(ngModel)]="actualpatient.PCPContact.contactNo"></div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Adress:</div>
                    <div class='col-md-6'><input [(ngModel)]="actualpatient.PCPContact.adress"></div>
                </div>
                <h4>Initial Payment :</h4>
                <div class='row'>
                    <div class='col-md-3'>registrationFee:</div>
                    <div class='col-md-6'><input [(ngModel)]="actualpatient.initialPayment.registrationFee"></div>
                </div> 
            </div>            
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>

    <div class='panel-footer'>
        
        <a class='btn btn-default' (click)='gotoPeoplesList()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
    </div>
    
  </div>
  
  
